In [10]:
#import necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# Load the Excel file and refer to it as 'board'
file_path = "board2.xlsx"  # Update with the actual path to the file
board = pd.read_excel("board2.xlsx")
board

,Name,Gender,Track,Hometown,Math,Electronics,GEAS,Communication
0,S1,Male,Instrumentation,Luzon,58,89,75,78
1,S2,Female,Communication,Mindanao,52,75,90,52
2,S3,Female,Instrumentation,Mindanao,83,74,77,57
3,S4,Male,Instrumentation,Visayas,65,58,91,68
4,S5,Male,Communication,Luzon,59,86,43,88
5,S6,Female,Microelectronics,Visayas,88,45,86,83
6,S7,Female,Instrumentation,Luzon,66,60,60,48
7,S8,Male,Instrumentation,Luzon,49,81,64,53
8,S9,Male,Instrumentation,Luzon,50,36,63,42
9,S10,Male,Microelectronics,Mindanao,80,84,61,44
10,S11,Female,Communication,Visayas,48,56,48,67
11,S12,Male,Communication,Visayas,89,67,84,64
12,S13,Female,Microelectronics,Luzon,88,35,83,43
13,S14,Female,Microelectronics,Luzon,83,77,89,73
14,S15,Female,Microelectronics,Mindanao,69,41,40,86
15,S16,Female,Communication,Luzon,71,70,87,81
16,S17,Female,Microelectronics,Mindanao,81,79,77,45
17,S18,Male,Communication,Visayas,81,40,81,52
18,S19,Male,Microelectronics,Luzon,79,63,79,71
19,S20,Female,Communication,Mindanao,59,60,62,85
20,S21,Female,Microelectronics,Visayas,83,51,68,72
21,S22,Female,Communication,Visayas,64,39,89,58
22,S23,Male,Instrumentation,Luzon,84,70,74,47
23,S24,Female,Microelectronics,Visayas,85,45,60,41
24,S25,Male,Communication,Luzon,74,91,94,42
25,S26,Female,Instrumentation,Visayas,71,47,83,62
26,S27,Male,Microelectronics,Visayas,70,47,40,86
27,S28,Male,Communication,Visayas,85,53,80,53
28,S29,Male,Instrumentation,Mindanao,73,48,71,62
29,S30,Male,Instrumentation,Luzon,78,81,57,56

In [27]:
# 1a. Create "Instru" DataFrame
# Track is "Instrumentation", Hometown is "Luzon", Electronics > 70
instru_df = df[(df['Track'] == 'Instrumentation') & (df['Hometown'] == 'Luzon') & (df['Electronics'] > 70)][['Name', 'GEAS', 'Electronics']]
instru_df['Track'] = 'Instrumentation'
instru_df['Hometown'] = 'Luzon'

# Display the Instru DataFrame
instru_df

NameError: name 'df' is not defined

In [16]:

# 1b. Create "Mindy" DataFrame
# Hometown is "Mindanao", Gender is "Female", Average >= 55
df['Average'] = (df['Math'] + df['GEAS'] + df['Electronics']) / 3
mindy_df = df[(df['Hometown'] == 'Mindanao') & (df['Gender'] == 'Female') & (df['Average'] >= 55)][['Name', 'Track', 'Electronics', 'Average']]
mindy_df['Gender'] = 'Female'
mindy_df['Hometown'] = 'Mindanao'

# Display the Mindy DataFrame
mindy_df

NameError: name 'df' is not defined

In [18]:

# Visualize how Track contributes to the average score
plt.figure(figsize=(8,6))
df.groupby('Track')['Average'].mean().plot(kind='bar')
plt.title('Average Grade by Track')
plt.ylabel('Average Grade')
plt.show()

NameError: name 'df' is not defined